# Copyright 2014 The noise-rs developers. For a full listing of the authors,
# refer to the AUTHORS file at the top-level directory of this distribution.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

env:
  global:
    - secure: d4nQJDpVwUr+SNUE2NGwLzNCYww55Svfvm4gmnaEHu2B8OhVRb/NCFjew/+5h1p7thdP6OmbUBiCVL0/IidHR4ptovueifJlUKC7Rq8fmeuCFw9C7qXjP2CdCBGr2pHKZ5lDQKPn310pfJavzXfC0/hJmLzKOQ/mzI74ijG+ePQ=
before_install:
  - yes | sudo add-apt-repository ppa:hansjorg/rust
  - yes | sudo add-apt-repository ppa:cmrx64/cargo
  - sudo apt-get update
install:
  - sudo apt-get install rust-nightly cargo
script:
  - cargo build
  - make
  - sudo make install
  - sudo make uninstall
  - make clean
  - make doc
after_script:
  - curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh
