[package]

name = "noise"
description = "Procedural noise generation library."
homepage = "https://github.com/bjz/noise-rs"
repository = "https://github.com/bjz/noise-rs"
version = "0.0.3"
license = "Apache-2.0"
keywords = ["math", "random"]
authors = ["Brendan Zabarauskas <bjzaba@yahoo.com.au>",
           "tiffany352 <https://github.com/tiffany352",
           "James Miller <james@aatch.net"]

[lib]

name = "noise"

[[example]]

name = "perlin_console"

[[example]]

name = "perlin_image"

[[example]]

name = "simplex"

[[example]]

name = "simplectic"

[[example]]

name = "brownian"

[[example]]

name = "ridgedmulti"

[[bench]]

name = "benches"

[dev-dependencies.image]
git = "https://github.com/PistonDevelopers/image.git"
