[package]
name = "noise"
description = "Procedural noise generation library."
homepage = "https://github.com/bjz/noise-rs"
repository = "https://github.com/bjz/noise-rs"
version = "0.2.0"
license = "Apache-2.0"
keywords = ["math", "random"]
authors = ["The Noise-rs Developers."]

[lib]
name = "noise"

[[example]]
name = "perlin"

[[example]]
name = "open_simplex"

[[example]]
name = "brownian"

[[example]]
name = "cell_range"

[[example]]
name = "cell_range_inv"

[[example]]
name = "cell_value"

[[example]]
name = "cell_manhattan"

[[example]]
name = "cell_manhattan_inv"

[[example]]
name = "cell_manhattan_value"

[[example]]
name = "value"

[[example]]
name = "constant"

[[example]]
name = "checkerboard"

[[example]]
name = "cylinders"

[[example]]
name = "select"

[[example]]
name = "abs"

[[example]]
name = "clamp"

[[example]]
name = "curve"

[[example]]
name = "exponent"

[[example]]
name = "invert"

[[example]]
name = "scale_bias"

[[example]]
name = "terrace"

[[example]]
name = "add"

[[example]]
name = "max"

[[example]]
name = "min"

[[example]]
name = "multiply"

[[example]]
name = "power"

[[example]]
name = "fbm"

[[example]]
name = "billow"

[[bench]]
name = "benches"

[dependencies]
rand = "0.3"
num-traits = "0.1"

[dev-dependencies]
image = "0.10"
